.medicinesGroups{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    background: var(--dashboard-bg);
}
.search{
    background: none !important;
}
.header{
    background: #ffffff;
}
.medicinesGroups .main{
    padding: var(--side-bar-padding);
}
.medicinesGroups section{
    width: 100%;
}
.title{
    display: flex;
    align-items: center;
}
.title span{
    margin-top: 10px;
}
.downloadButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #ffffff;
  }