.header {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    border-bottom: 1px solid #E3EBF3;
    padding: var(--side-bar-padding);
    background: #F7FAFD;
    gap: 15px;
    padding-bottom: 10px;
    /* padding-bottom: 5px; */
    /* width: 100%; */
}
.header2{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
}
@media (max-width:860px) {
    .header{
        flex-direction: column-reverse;
    } 
}
/* .search{
    background:  !important;
} */
.language{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #28374B;
    font-weight: 400;
    font-size: 12px;
}
.iconTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.greetingTime{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #28374B;
    font-weight: 500;
    font-size: 14px;
}
.greetingTime p{
    margin: 3px;
}
.greeting, .time{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #28374B;
    align-items: center;
}
.greeting{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #28374B;
}
.greeting div{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #FFCF5C;
}
