.inventoryComp{
    display: flex;
    flex-direction: row;
    background: var(--dashboard-bg);
    
    /* height: fit-content; */
}
.inventoryComp section{
    width: 100%;
    
}
.header{
    background: #ffffff;
    color: var(--primary-blue);
}
.inventory .main{
    padding: var(--side-bar-padding);
    color: var(--primary-blue);
}
.downloadButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .analysis{
    justify-content: flex-start;
  }
  .info{
    align-items: center;
  }